#header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: rgba(204, 204, 204, 0.5);
    width: 100%;
}

a {
    color: black;
}

h4 {
    white-space: nowrap;
    margin-left: 15px;
}

#section {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;;
    background-color: transparent;
    width: 100%;

}